.container {
  box-sizing: border-box;
  max-width: $max-content-width;

  @include content-padding-inline;
  @include page-grid;
}

.flex-container {
  grid-column: 1/-1;

  @include on-desktop {
    @include content-centered-with-flex;
  }
}
