.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  &--menu,
  &--close,
  &--facebook,
  &--instagram {
    @include hover(transform, scale(1.5));
  }

  &--menu {
    background-image: url(../images/icons/baseline-menu-24px.png);
  }

  &--close {
    background-image: url(../images/icons/ri-close-fill.png);
  }

  &--subscription {
    background-image: url(../images/icons/baseline-keyboard_arrow_rightblack-24px.png);
  }

  &--tickets {
    background-image: url(../images/icons/baseline-keyboard_arrow_rightwhite-24px.png);
  }

  &--facebook {
    background-image: url(../images/icons/facebook-letter-logo.png);
  }

  &--instagram {
    background-image: url(../images/icons/instagram.png);
  }

  &--arrow-up {
    position: absolute;
    top: 0;
    right: 3%;
    rotate: -90deg;

    width: 50px;
    height: 50px;

    background-image: url(../images/icons/baseline-keyboard_arrow_rightwhite-24px.png);

    @include on-desktop {
      right: 5%;
    }
  }
}
