.schedule {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    flex-direction: row;
    gap: 26px;
  }

  &--footer {
    @include on-tablet {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    white-space: nowrap;

    &--footer {
      white-space: wrap;

      @include on-tablet {
        white-space: nowrap;
      }
    }
  }

  &__bold {
    font-weight: 600;
  }

  &__weekend {
    margin: 0;

    @include on-tablet {
      align-self: flex-end;
      max-width: 170px;
    }

    &--footer {
      @include on-tablet {
        align-self: start;
      }
    }
  }
}
