.slider {
  overflow: hidden;

  &__image {
    // width: 340px;
    height: 543px;
  }
  &__line {
    display: flex;
    gap: 20px; // if change, must also be changed in js
    transition: all 1s;

    @include on-tablet {
      gap: 30px;
    }
  }

  &__dot-wrapper {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    @include on-tablet {
      gap: 30px;
    }
  }

  &__dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e0e0e0;

    &--active {
      background-color: $base-green;
    }

    &:hover {
      background-color: $base-green;
    }
  }
}
