.subtitle-dates {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include on-tablet {
    gap: 10px;
  }

  @include on-tablet {
    gap: 30px;
    justify-content: start;
  }

  &__dates {
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $base-green;
    white-space: nowrap;

    @include on-tablet {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
