.title {
  margin: 0;

  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  @include on-tablet {
    font-size: 36px;
  }

  &--main {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 54px;
      line-height: 65px;
    }

    @media (min-width: 640px) and (max-width: 700px) {
      font-size: 45px;
    }

    @include on-desktop {
      font-size: 72px;
      line-height: 86px;
    }
  }

  &--schedule {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  &--events,
  &--gallery,
  &--subscription {
    font-size: 36px;
    font-weight: 700;

    @include on-tablet {
      font-size: 48px;
      text-align: left;
    }
  }

  &--subscription {
    color: $base-white;

    @include on-tablet {
      text-align: center;
    }
  }

  &--subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $grey-text-subtitle;
    text-align: left;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 14px;
    }
  }
}
